<form method="POST" action="/register" enctype="multipart/form-data">
  <label for="firstName">First Name:</label>
  <input type="text" name="firstName" >
  <br>
  <label for="lastName">Last Name:</label>
  <input type="text" name="lastName" >
  <br>
  <label for="userName">Username:</label>
  <input type="text" name="userName" >
  <br>
  <label for="profilePicture">Profile Picture:</label>
  <input type="file" name="profilePicture" accept="image/*" >
  <br>
  <input type="submit" value="Register">
</form>
